.page-container {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centers vertically */
    align-items: center; /* Centers horizontally */
    background-color:rgb(248, 249, 250); /* Light gray background */
    color: #333; /* Dark text for readability */
    font-size: 24px;
    font-weight: bold;
    padding: 3% 2%;
}

.textbox {
    font-weight: normal; /* Removes bold effect */
    font-size: 19px; /* Slightly larger for readability */
    color: var(--primary-black); /* Ensures proper contrast */
    max-width: 80%;
    line-height: 1.6;
    background: var(--light-gray);
    padding: 3% 2%;
    border-radius: 20px;
    text-align: left;
    margin: 3% 3%;
}

.textbox h1{
    text-align: center;
} 

/* Highlighting Exceptions with Bright Orange & Underline */
.Exception {
    /* color: var(--bright-orange); */
    text-decoration: underline; /* Adds an underline */
}


